<h1 align="center">Signup for Alpha Blog </h1>

<%= render 'form', user: @user %>

<div class= "col-xs-4 col-xs-offset-4">
[<%= link_to 'Cancel request and return to users list',  users_path, class: "ln-bottom"%>]
</div>