<!DOCTYPE html>
<html>
<head>
	<title>Welcome to first app on RoR</title>
</head>
	
<body>
	<h1>This is Homepage</h1>
	<%= link_to 'Articles', articles_path%> | <%= link_to 'About', about_path %>
</body>

</html>