$navbar-default-bg: #D5E0E3;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #81D0EB;
	text-decoration: none;
}

#btn-learn {
	color: #fff;
}

.center {
	text-align: center;
	color: black;
}

.jumbotron {
	background-image: asset-url('homepage_cover.jpg');
	background-size: cover;  //this attribute will set adaptive width with the image.
	height: 380px;
}

.ln-bottom:hover{
	color: #81D0EB;
	text-decoration: none;
	background-color: #fff;
}

.article-actions {
	color: #fff;
	border-top: 1px solid #eaeaea;
	padding-top: 5px;

}

.description {
	margin-top: 0;
}

.article-title {
	font-weight: bold;
	font-size: 1.5em;
	padding-bottom: 5px;
}

.article-body {
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
}

.article-meta-details {
	border-top: 1px solid #eaeaea;
	margin-top: 15px;
}

.listing {
	list-style: none;
	padding-left: 0;
}

footer {
	background-color: black;
	color: #fff;
	text-align: center;
	height: 50px;
}

footer a {
	text-decoration: none;
	color: #81D0EB;
}

footer a:hover {
	color: orange;
	text-decoration: none;
}

footer ul {
	float: right;
	list-style: none;
	margin-top: -18px;
}

footer ul li{
	float: left;
	margin-left: 15px;
}

