<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="#">The first Ruby on Rails project</a>
			by <a href="#">Ivan Tran</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>